!!!
%html{html_attrs(I18n.locale)}
  %head
    %meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
    %meta(http-equiv='Content-Script-Type' content='text/javascript')
    - if protect_against_forgery?
      %meta(name='authenticity_token' content=form_authenticity_token)
    = stylesheet_link_tag 'default'
    = javascript_include_tag :defaults
    %title= title
    = yield :head
  %body
    #upbg
      #outer
        #header
          #headercontent
            %h1 30daylist.com
        #menu
          %ul
            %li=link_to_unless_current 'Home', root_path
            %li=link_to_unless_current 'About', '#'
        #menubottom
        #flash
          - flash.each do |name, msg|
            %div(class=name)= msg
        #content
          = yield
        #footer
          .left &copy; #{Date.today.year} Keller Solutions, All rights reserved.
